[Interface]
PrivateKey = 
Address = 10.0.0.1/24
PostUp = iptables -A FORWARD -i wg0 -j ACCEPT; iptables -t nat -A POSTROUTING -o eth0 -j MASQUERADE
PostDown = iptables -D FORWARD -i wg0 -j ACCEPT; iptables -t nat -D POSTROUTING -o eth0 -j MASQUERADE
ListenPort = 51820

[Peer]
Endpoint = 51.158.179.12:51820
PublicKey = HnMKjGhi3K0gSd0nIJBCagfA91Uk7DFsU+2rQjYoEjs=
AllowedIPs = 10.0.0.2/32